@charset "UTF-8";
.fixed-div {position: fixed; width: 100px; height: 100px; right: 20px; bottom: 100px; background-color: aquamarine; cursor: pointer;}

.row > .col-12,
.row > .container {border: 2px solid olivedrab; border-radius: 20px; padding: 15px;}


table td {vertical-align: top;}